:root {
  font-family: 'Montserrat', sans-serif;
  color: #2F80ED;
  font-size: 14px;
}

body {
  background-image: url("../img/bg.png"), url("../img/bg-1.png"), url("../img/bg-2.png");
  background-position: top right;
  background-repeat: no-repeat;
}

/* ОБНУЛЕНИЕ СТАНДАРТНЫХ СТИЛЕЙ */
/* ОБНУЛЕНИЕ СТАНДАРТНЫХ СТИЛЕЙ */

ul,
ol,
dl,
dt,
dd {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* ОБНУЛЕНИЕ СТАНДАРТНЫХ СТИЛЕЙ */
/* ОБНУЛЕНИЕ СТАНДАРТНЫХ СТИЛЕЙ */

/* /////////////////////////////// */

/* ПРЯЧЕМ ЗАГОЛОВОК */
/* ПРЯЧЕМ ЗАГОЛОВОК */

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* ПРЯЧЕМ ЗАГОЛОВОК */
/* ПРЯЧЕМ ЗАГОЛОВОК */

/* /////////////////////////////// */

/* СОЗДАЕМ КОНТЕЙНЕРЫ */
/* СОЗДАЕМ КОНТЕЙНЕРЫ */
.container-wide {
  width: 1440px;
  margin: 0 auto;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

/* СОЗДАЕМ КОНТЕЙНЕРЫ */
/* СОЗДАЕМ КОНТЕЙНЕРЫ */

/* /////////////////////////////// */

/* НАВИГАЦИЯ */
/* НАВИГАЦИЯ */
.main-header-navigation {
  padding-top: 30px;
}

.main-header-navigation a {
  line-height: 120%;
}

.main-header-navigation-wrapper {
  display: flex;
  width: 1175px;
  align-items: center;
}

.cities-link-list {
  display: flex;
  justify-content: space-between;
  width: 321px;

  text-transform: uppercase;
}

.cities-link-list a {
  color: #2F80ED;
}

.site-navigation-list {
  display: flex;
  margin: 0 70px 0 160px;
  justify-content: space-between;
  width: 470px;
}

.cities-link-list li:first-child a {
  font-weight: 700;
}

.site-navigation-list a {
  color: #fff;
}

.site-navigation-list a:hover {
  font-weight: 700;
}

.register {
  border-radius: 50px;
  background-color: #fff;
  padding: 10px 20px;
  color: #2F80ED;
}

/* НАВИГАЦИЯ */
/* НАВИГАЦИЯ */

/* /////////////////////////////// */

/* ПРОМО-БЛОК */
/* ПРОМО-БЛОК */
.promo-wrapper {
  display: flex;
  padding: 100px 0 150px 0;
}

.rating {
  width: 230px;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 280px;
  margin-left: 50px;
  background-color: #CADEF9;
  box-shadow: 0px 10px 50px 0px #779DFF4D;
  border-radius: 50%;
  text-align: center;

}

.rating p {
  margin: 5px 0;
  line-height: 22px;
}

.rating .score {
  font-weight: 700;
  font-size: 34px;
  line-height: 52px;
}

.rating a {
  font-size: 12px;
  line-height: 17px;
  color: #2F80ED;
}

.promo-text-column {
  color: #fff;
  width: 510px;
  margin-left: 320px;
}

.promo-text-column .date {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.promo-text-column .promo-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin: 0;
}

.promo-text-column .description {
  font-size: 18px;
  line-height: 23px;
  margin: 30px 0 50px 0;
}

.promo-text-column a {
  color: #fff;
  font-weight: 700;
  line-height: 18px;
  background-color: #64E2CD;
  border-radius: 50px;
  box-shadow: 0 0 0 10px rgba(100, 226, 205, 0.5);
  text-transform: uppercase;
  padding: 15px 40px;
}

/* ПРОМО-БЛОК */
/* ПРОМО-БЛОК */

/* /////////////////////////////// */

/* ДЛЯ КОГО БЛОК*/
/* ДЛЯ КОГО БЛОК*/
.for-who {
  padding: 115px 0 170px 0;
  background-image: url("img/Rectangle123.png");
  background-repeat: no-repeat;
  background-position: center;
}

.section-title {
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  color: #000;
}

.for-who .section-title {
  margin-bottom: 100px;
  margin-top: 0;
}

.for-who-item dt,
.about-course-item dt,
.results dt,
.full-programm {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #2F80ED;
  margin-bottom: 10px;
  text-transform: uppercase;
  width: 190px;
}

.for-who-item dd,
.about-course-item dd,
.results dd {
  font-size: 14px;
  line-height: 20px;
  color: #636363;
  ;
}

.for-who-list {
  display: flex;
}

.for-who-item {
  margin-right: 75px;
  width: 225px;
}

/* ДЛЯ КОГО БЛОК*/
/* ДЛЯ КОГО БЛОК*/

/* /////////////////////////////// */

/* О КУРСЕ БЛОК */
/* О КУРСЕ БЛОК */
.about-course-list {
  margin-bottom: 110px;
  display: flex;
  flex-wrap: wrap;
  width: 575px;
  height: 260px;
  justify-content: space-between;
  align-content: space-between;
}

.about-course {
  padding-top: 130px;
  padding-bottom: 100px;
  background-image: url("img/circle123.png");
  background-repeat: no-repeat;
  background-position: top right;
}

.about-course .section-title {
  margin: 0 0 45px 0;
}

.about-course-item {
  width: 230px;
}

.full-programm {
  border-bottom: dashed 2px #2F80ED;
}

/* О КУРСЕ БЛОК */
/* О КУРСЕ БЛОК */

/* /////////////////////////////// */

/* РЕЗУЛЬТАТЫ БЛОК */
/* РЕЗУЛЬТАТЫ БЛОК */
.results {
  padding: 190px 0 0 0;
  background-image: url("../img/bg-3.png"), url("../img/bg-4.png"), url("../img/bg-5.png");
  background-position: center left;
  background-repeat: no-repeat;
  margin-bottom: 200px;
}

.results .section-title {
  margin: 50px 0 45px 0;
  color: #fff;
  ;
}

.results-list {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  justify-content: space-between;
  align-content: space-between;
}

.results-item {
  background-color: #fff;
  padding: 55px 50px 55px 150px;
  max-width: 465px;
  border-radius: 10px;
  box-shadow: 0px 10px 30px 0px #2F37ED1A;
  position: relative;
}

.results-item dt,
.results-item dd {
  width: 365px;
}

.results-item dt {
  font-size: 16px;
  line-height: 23px;
}

.results dd {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}

.results-item dt::before {
  content: "";
  background-image: url("../img/r1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
  display: block;
  top: 58px;
  left: 55px;
  position: absolute;
}

.results-item:nth-child(2) dt::before {
  background-image: url("../img/r2.svg");
}

.results-item:nth-child(3) dt::before {
  background-image: url("../img/r3.svg");
}

.results-item:last-child dt::before {
  background-image: url("../img/r4.svg");
}

/* РЕЗУЛЬТАТЫ БЛОК */
/* РЕЗУЛЬТАТЫ БЛОК */

/* /////////////////////////////// */

/* ПОЧЕМУ МОЖНО ДОВЕРЯТЬ БЛОК */
/* ПОЧЕМУ МОЖНО ДОВЕРЯТЬ БЛОК */
.trust {
  margin-bottom: 150px;
}

.creator {
  display: flex;
  margin-bottom: 80px;
}

.creator-video {
  margin-right: 100px;
}

.about-creator {
  padding: 65px;
  box-shadow: 0px 30px 100px 0px #2F37ED1A;
  height: 100px;
  max-height: 100px;
  border-radius: 10px;
  align-self: center;
}

.about-creator h3 {
  line-height: 44px;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.about-creator p {
  color: #000;
  line-height: 30px;
  font-size: 16px;
  margin: 0;
}

.creator-achievement-item {
  padding-top: 100px;
  width: 250px;
  position: relative;
}

.creator-achievement-list {
  display: flex;
  justify-content: space-between;
}

.creator-achievement-item dt,
.creator-achievement-item dd {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.creator-achievement-item dt {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.creator-achievement-item dt::before {
  content: "";
  position: absolute;
  background-image: url("../img/i1.svg");
  background-repeat: no-repeat;
  width: 62px;
  height: 62px;
  top: 20px;
}

.creator-achievement-item:nth-child(2) dt::before {
  background-image: url("../img/i2.svg");
}

.creator-achievement-item:nth-child(3) dt::before {
  background-image: url("../img/i3.svg");
}

.creator-achievement-item:last-child dt::before {
  background-image: url("../img/i4.svg");
}

.creator-achievement-item dd {
  font-weight: 400;
  color: #000;
}

/* ПОЧЕМУ МОЖНО ДОВЕРЯТЬ БЛОК */
/* ПОЧЕМУ МОЖНО ДОВЕРЯТЬ БЛОК */

/* /////////////////////////////// */

/* ПРОШЛЫЕ ПОТОКИ БЛОК */
/* ПРОШЛЫЕ ПОТОКИ БЛОК */
.past-events {
  margin-bottom: 225px;
}

.past-events .section-title,
.price .section-title {
  margin: 0 0 75px 0;
  text-align: center;
}

.past-events-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 556px;
}

/* ПРОШЛЫЕ ПОТОКИ БЛОК */
/* ПРОШЛЫЕ ПОТОКИ БЛОК */

/* /////////////////////////////// */

/* ЦЕНА БЛОК */
/* ЦЕНА БЛОК */
.price {
  padding-bottom: 190px;
  background-image: url("img/RectanglePrice.png");
  background-repeat: no-repeat;
  background-position: center;
}

.price-list {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.price-item {
  position: relative;
  width: 195px;
  height: 170px;
  border-radius: 10px;
  box-shadow: 0px 20px 50px 0px #2F37ED1F;
  background-color: #fff;
  padding: 65px 40px;
}

.price-item.exclusive::before {
  content: "";
  position: absolute;
  background-image: url("img/Price.png");
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  top: -45px;
  right: -20px;
}

.price-item .price-money {
  margin: 0 0 15px 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  text-align: center;
}

.price-item .worker {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 35px;
}

.price-item .arrange {
  background-color: #52D1BC;
  border-radius: 50px;
  padding: 20px 40px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #fff;
  display: block;
}

/* ЦЕНА БЛОК */
/* ЦЕНА БЛОК */


.main-footer {
  background-color: #2F80ED;
  padding: 40px 0;
}

.main-footer a:not(.register) {
  color: #fff;
}

/* ССЫЛКИ НА ГОРОДА И РЕГИСТРАЦИЮ БЛОК */
/* ССЫЛКИ НА ГОРОДА И РЕГИСТРАЦИЮ БЛОК */

.footer-links-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}

/* ССЫЛКИ НА ГОРОДА И РЕГИСТРАЦИЮ БЛОК */
/* ССЫЛКИ НА ГОРОДА И РЕГИСТРАЦИЮ БЛОК */

/* /////////////////////////////// */

/* ПРАВА БЛОК */
/* ПРАВА БЛОК */

.law {
  background-color: #185FBF;
  color: #fff;
}

.defence-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.defence-link-list {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

/* ПРАВА БЛОК */
/* ПРАВА БЛОК */